<h2 matDialogTitle i18n="@@notification-title">
    Notification
</h2>
<div md-dialog-content i18n="@@notification-alertDelete">Are you sure you want to delete?</div>
<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()" i18n="@@notification-disagree">Disagree</button>
    <button mat-button type="button" (click)="agree()" color="primary">
        <span class="material-icons">
            done
        </span>
        <span i18n="@@notification-agree">Agree</span>
    </button>
</mat-dialog-actions>