<section class="header">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" [routerLink]="['/']">
      <img class="logo" src="../assets/img/icon-angular.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- [ngClass]="{'active' : infoModuleActive?.title == 'Manager Vehicle'}" -->
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['vehicle/list']">Todo <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <i class="icon-language fa fa-globe" aria-hidden="true"></i>
        <select class="form-control mr-sm-2" (change)="switchLanguage($event.target.value)" type="search" placeholder="Search"
          aria-label="Search">
          <option value="en">Tiếng Anh</option>
          <option value="vi">Tiếng Việt</option>
        </select>
      </div>
    </div>
  </nav>
</section>
<section class="body">
  <div class="container">
    <div class="row">
      <!-- <div class="col-12">
        <app-navigation [infoModuleActive]="infoModuleActive"></app-navigation>
      </div> -->
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>