<mat-card>
    <h2 class="title" matDialogTitle>
        <span class="material-icons">filter_alt</span>
        <span class="text-icons-middle"> {{ 'filter' | translate }}</span>
    </h2>
    <form class="pading" [formGroup]="searchForm">
        <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile>
                <mat-form-field class="input-big">
                    <mat-label>{{ 'todoPage.block.formTodo.labelTitle' | translate }}</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="input-big">
                    <mat-label>{{ 'todoPage.block.formTodo.labelCreator' | translate }}</mat-label>
                    <input matInput formControlName="creator">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="input-big">
                    <mat-label>{{ 'todoPage.block.formTodo.labelContent' | translate }}</mat-label>
                    <input matInput formControlName="content">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="input-big" appearance="fill">
                    <mat-label>{{ 'todoPage.block.formTodo.labelCompleted' | translate }}</mat-label>
                    <mat-select formControlName="completed">
                        <mat-option *ngFor="let itemFilter of completedFilters" [value]="itemFilter.value">
                            {{itemFilter.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-card>

<mat-card>
    <h2 class="title" matDialogTitle>
        <span class="material-icons">table_chart</span>
        <span class="text-icons-middle"> {{ 'todoPage.block.table.title' | translate }}</span>
    </h2>
    <p>
        <button mat-button type="submit" (click)="addTodo()" color="primary">
            <span class="material-icons">add</span>
            <span class="text-icons-middle">{{ 'add' | translate }}</span>
        </button>
    </p>
    <table mat-table [dataSource]="listTodo$ | async " class="mat-elevation-z8">

        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> {{ 'todoPage.block.table.rowTitle' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Content Column -->
        <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef> {{ 'todoPage.block.table.rowlContent' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.content}} </td>
        </ng-container>

        <!-- Creator Column -->
        <ng-container matColumnDef="creator">
            <th mat-header-cell *matHeaderCellDef> {{ 'todoPage.block.table.rowlCreator' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
        </ng-container>

        <!-- Completed Column -->
        <ng-container matColumnDef="completed">
            <th style="width: 70px;" mat-header-cell *matHeaderCellDef>
                {{ 'todoPage.block.table.rowlCompleted' | translate }} </th>
            <td class="text-center" mat-cell *matCellDef="let element">
                <span *ngIf="element.completed" class="material-icons">done</span>
            </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th style="width: 150px;" mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell class="text-center" *matCellDef="let element">
                <button mat-button (click)="getInfoTodo(element.id)" color="primary">
                    <mat-icon mat-button class="item-action"
                        title="{{ 'todoPage.block.table.tooltipEdit' | translate }}" class="example-icon"
                        aria-hidden="false" aria-label="Edit icon">
                        edit
                    </mat-icon>
                </button>
                <button mat-button (click)=deleteTodo(element.id)>
                    <mat-icon class="item-action" title="{{ 'todoPage.block.table.tooltipDelete' | translate }}"
                        class="example-icon" aria-hidden="false" aria-label="Delete icon">
                        delete
                    </mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>