<div class="content">
  <h1>
    <strong>
      Todo app demo
    </strong>
  </h1>
  <br />
  <mat-dialog-content class="mat-typography">
    <!-- Description -->
    <h4>
      <strong i18n="@@description-title">Description</strong>
    </h4>
    <ul>
      <li i18n="@@description-text">
        This is a small web signal page built by framework angular version
        10.0.1
      </li>
    </ul>

    <!-- Features -->
    <h4>
      <strong i18n="@@Features">Features</strong>
    </h4>
    <ul>
      <li i18n="@@internationalization">
        Application can change language (default language is English)
      </li>
      <li i18n="@@CRUD">Provide basic features add, delete, edit</li>
      <li i18n="@@filter">Features filtering data using Observables & Rxjs</li>
      <li i18n="@@stateManagement">Using akita to manage State management</li>
      <li i18n="@@reactiveForm">
        Implement reactive form, create abstract form for 2 both of cases
        (creation, edition)
      </li>
    </ul>

    <!-- Packpage -->
    <h4>
      <strong>Packpage</strong>
    </h4>
    <ul>
      <li>
        @ng-bootstrap/ng-bootstrap -
        <span i18n="@@version"> version </span> ^6.1.0
      </li>
      <li>@datorama/akita - <span i18n="@@version"> version </span> ^5.2.1</li>
      <li>
        @angular/material - <span i18n="@@version"> version </span> ^10.1.2
      </li>
      <li>rxjs - <span i18n="@@version"> version </span> 6.5.5</li>
      <li>typescript - <span i18n="@@version"> version </span> 3.9.5</li>
    </ul>

    <!-- Owner -->
    <h4>
      <strong i18n="@@owner">Owner</strong>
    </h4>
    <ul>
      <li>
        <span i18n="@@owner">Owner</span> :
        <span i18n="@@lphan">Loc Phan Phuc</span>
      </li>
      <li>Email: <a href="mailto:ppldhsp@gmail.com">ppldhsp@gmail.com</a></li>
      <li>
        <span i18n="@@telephone">Phone</span> :
        <a href="tel: 0764451759">076 445 1759</a>
      </li>
    </ul>
  </mat-dialog-content>
</div>
