<div class="content">
    <h1> Todo app demo </h1>
    <div class="detail">
        <br>
        <div class="row">
            <div class="col-md-12">
                <strong>{{ 'homePage.description.title' |translate}}</strong>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>{{ 'homePage.description.text' |translate}}</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <strong>{{ 'homePage.features.title' |translate}}</strong>
            </div>
            <div class="col-md-12">
                <ul>
                    <li> {{ 'homePage.features.internationalization' |translate}}</li>
                    <li> {{ 'homePage.features.CRUD' |translate}}</li>
                    <li> {{ 'homePage.features.filter' |translate}}</li>
                    <li> {{ 'homePage.features.stateManagement' |translate}}</li>
                    <li> {{ 'homePage.features.reactiveForm' |translate}}</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <strong>Packpage</strong>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>@ng-bootstrap/ng-bootstrap - {{'version' | translate}} ^6.1.0</li>
                    <li>bootstrap - {{'version' | translate}} 6.1.0 </li>
                    <li>rxjs - {{'version' | translate}} 6.5.5</li>
                    <li>typescript - {{'version' | translate}} 3.9.5</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <strong>{{'owner' | translate}}</strong>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>{{'owner' | translate}} : {{'lphan' | translate}}</li>
                    <li>Email: <a href="mailto:ppldhsp@gmail.com">ppldhsp@gmail.com</a> </li>
                    <li>{{'telephone' | translate}}: <a href="tel: 0764451759">076 445 1759</a> </li>
                </ul>
            </div> 
        </div>
    </div>
</div>