<div class="content">
    <h1>
        <strong>
            Todo app demo
        </strong>
    </h1>
    <br>
    <mat-dialog-content class="mat-typography">

        <!-- Description -->
        <h4>
            <strong>{{ 'homePage.description.title' |translate}}</strong>
        </h4>
        <ul>
            <li>{{ 'homePage.description.text' |translate}}</li>
        </ul>

        <!-- Features -->
        <h4>
            <strong>{{ 'homePage.features.title' |translate}}</strong>
        </h4>
        <ul>
            <li> {{ 'homePage.features.internationalization' |translate}}</li>
            <li> {{ 'homePage.features.CRUD' |translate}}</li>
            <li> {{ 'homePage.features.filter' |translate}}</li>
            <li> {{ 'homePage.features.stateManagement' |translate}}</li>
            <li> {{ 'homePage.features.reactiveForm' |translate}}</li>
        </ul>

        <!-- Packpage -->
        <h4>
            <strong>Packpage</strong>
        </h4>
        <ul>
            <li>@ng-bootstrap/ng-bootstrap - {{'version' | translate}} ^6.1.0</li>
            <li>bootstrap - {{'version' | translate}} 6.1.0 </li>
            <li>rxjs - {{'version' | translate}} 6.5.5</li>
            <li>typescript - {{'version' | translate}} 3.9.5</li>
        </ul>

        <!-- Owner -->
        <h4>
            <strong>{{'owner' | translate}}</strong>
        </h4>
        <ul>
            <li>{{'owner' | translate}} : {{'lphan' | translate}}</li>
            <li>Email: <a href="mailto:ppldhsp@gmail.com">ppldhsp@gmail.com</a> </li>
            <li>{{'telephone' | translate}}: <a href="tel: 0764451759">076 445 1759</a> </li>
        </ul>

    </mat-dialog-content>

</div>