
.title{
    color: #3f50b6;
}
.list-input{
    max-width: 90%;
    margin: 10px auto;

    .item-input{
        margin: 5px 0px;
    }
}
.text-redirect{
    color: #3f4fb7;
    font-weight: bold;
    font-size: 13px;
}
.list-actions{
    margin-bottom: 0px;
}
