<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <mat-card-header>
    <mat-card-title class="title">
      <span class="material-icons">person</span>
      <span class="text-icons-middle" i18n="@@block-formLogin-title">Login</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="list-input">
    <mat-form-field class="example-full-width item-input">
      <mat-label>
        <span>Email</span>
      </mat-label>
      <input matInput name="email" cdkFocusInitial formControlName="email" />
      <mat-error class="error-email" i18n="@@block-formLogin-error-emailRequired"
            *ngIf="
          loginForm?.get('email')?.errors?.required &&
          loginForm?.get('email')?.touched
        ">
        Email is required
      </mat-error>
      <mat-error class="error-email" *ngIf="
          loginForm?.get('email')?.hasError('maxlength') &&
          loginForm?.get('email')?.touched
        ">
        <span i18n="@@block-formLogin-error-emailMaxLength">
          Max length is:
        </span>
        <span>
          {{ loginForm.get("email")?.errors.maxlength.requiredLength }}
        </span>
      </mat-error>
      <mat-error class="error-email" *ngIf="
          !loginForm?.get('email')?.hasError('maxlength') &&
          loginForm?.get('email')?.hasError('emailIncorrect') &&
          loginForm?.get('email')?.touched
        ">
        <span i18n="@@block-formLogin-error-emailFormat">
          Email format is incorrect
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width item-input">
      <mat-label>
        <span>Password</span>
      </mat-label>
      <input matInput name="password" type="password" formControlName="password" />
      <mat-error class="error-password" *ngIf="
          loginForm?.get('password')?.errors?.required &&
          loginForm?.get('password')?.touched
        ">
        <span i18n="@@block-formLogin-error-passwordRequired"></span>
        password is required
      </mat-error>
      <mat-error class="error-password" *ngIf="
          loginForm?.get('password')?.hasError('maxlength') &&
          loginForm?.get('password')?.touched
        ">
        <span i18n="@@block-formLogin-error-passwordMaxlength">
          Max length is:
        </span>
        <span>
          {{ loginForm.get("password")?.errors.maxlength.requiredLength }}
        </span>
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="loginForm?.hasError('incorrect')">
      <p class="error-request">
        {{loginForm.errors.message}}
      </p>
    </mat-error>

  </mat-card-content>
  
  <mat-card-actions class="list-actions" align="center">
    <button mat-raised-button type="submit" color="primary" [disabled]="
        loginForm?.invalid || loginForm?.pending || (loading$ | async )
      ">
      <ng-container *ngIf="(loading$) | async ; else textTpl">
        <mat-spinner class="spinner center small"></mat-spinner>
      </ng-container>
      <ng-template #textTpl>
        <span  i18n="@@block-formLogin-button-submit" class="text-icons-middle" >
          Login
        </span>
      </ng-template>
    </button>
    <br>
    <button mat-raised-button type="button" (click)="submitLoginGoogle()" color="warn" [disabled]="(loadingGoogle$ | async)">
      <ng-container *ngIf="(loadingGoogle$) | async ; else textGoogleTpl">
        <mat-spinner class="spinner center small"></mat-spinner>
      </ng-container>
      <ng-template #textGoogleTpl>
        <span class="text-icons-middle">
          Gmail
        </span>
      </ng-template>
    </button>
  </mat-card-actions>
</form>
