<form [formGroup]="forgotForm" (ngSubmit)="submit()">
  <mat-card-header>
    <mat-card-title class="title">
      <span class="material-icons">vpn_key</span>
      <span class="text-icons-middle" i18n="@@block-formLogin-reset-password"> Reset Password</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="list-input">
    <mat-form-field class="example-full-width item-input">
      <mat-label>
        <span>Email</span>
      </mat-label>
      <input matInput cdkFocusInitial formControlName="email" />
      <mat-error i18n="@@block-formLogin-error-emailRequired" *ngIf="
          forgotForm?.get('email')?.errors?.required &&
          forgotForm?.get('email')?.touched
        ">
        Email is required
      </mat-error>
      <mat-error *ngIf="
          forgotForm?.get('email')?.hasError('maxlength') &&
          forgotForm?.get('email')?.touched
        ">
        <span i18n="@@block-formLogin-error-emailMaxLength">
          Max length is:
        </span>
        <span>
          {{ forgotForm.get("email")?.errors.maxlength.requiredLength }}
        </span>
      </mat-error>
      <mat-error *ngIf="
          !forgotForm?.get('email')?.hasError('maxlength') &&
          forgotForm?.get('email')?.hasError('emailIncorrect') &&
          forgotForm?.get('email')?.touched
        ">
        <span i18n="@@block-formLogin-error-emailFormat">
          Email format is incorrect
        </span>
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="forgotForm?.hasError('incorrect')">
      <span i18n="@@block-formLogin-error-emailPassword">
        Email and password do not exist
      </span>
    </mat-error>

    <a class="text-redirect" [routerLink]="['/auth/login']">
        <span class="material-icons">
            arrow_back
        </span>
        <span class="text-icons-middle" i18n="@@block-formLogin-text-go-to-login">
            Go back to Login
        </span>
    </a>
  </mat-card-content>

  <mat-card-actions class="list-actions" align="center">
    <button mat-raised-button type="submit" color="primary"
      [disabled]="forgotForm?.invalid || forgotForm?.pending || loading">
      <ng-container *ngIf="loading; else textTpl">
        <mat-spinner class="spinner center small"></mat-spinner>
      </ng-container>
      <ng-template #textTpl>
        <span class="text-icons-middle" i18n="@@block-formLogin-button-reset-password">
            Reset Password
        </span>
      </ng-template>
    </button>
  </mat-card-actions>
</form>
